.heading {
  font-weight: 700;
  padding: 20px 18px 0 18px;
  font-size: 1rem;
  font-size: 1.4rem;
}

.dishName {
  color: #424242;
  font-size: 1.3rem;
  font-weight: 500;
}

.chefName {
  color: #424242;
  font-size: .8rem;
  /* font-weight: 500; */
  margin-top: -2px;
}

.products {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 41px;
  width: calc(100% - 40px);
  overflow: auto;
  padding: 10px;
  margin: 10px 5px;
}

.dishCard {
  height: 215px;
  width: 200px;
  border: 1px solid #0000001a;
  border-radius: 2px;
  box-shadow: 0 0 5px 2px #00000012;
  overflow: hidden;
  display: grid;
  grid-template-rows: 152px 30px 16px;
  padding: 7px;
}